# Backend config
backend.conf

# Terraform sensitive files
terraform.tfvars
*.tfstate
*.tfstate.backup
.terraform/

# Node modules
**/node_modules/

# Env files
.env
**/.env

# Dockerignore
**/.dockerignore

# Logs
*.log
logs/

# OS junk
.DS_Store
Thumbs.db


# Terraform local files
.env
*.tfplan
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo